# Idea
.idea/
*.iml

# Maven
target/

# Default build setup with directory-local database
database/
archive/

# Ignore Gradle project-specific cache directory
.gradle/
.gradle/

# Ignore Gradle build output directory
build/
